# Database connection string for async SQLAlchemy
DATABASE_URL=postgresql+asyncpg://eventpulse_admin:password@localhost:5432/eventpulse
# For Docker Image instead of 'localhost' use 'postgres'

# Shared webhook secret used for HMAC signature verification
WEBHOOK_SECRET=your_webhook_secret_here


# for alembic
ALEMBIC_DATABASE_URL=postgresql+psycopg://eventpulse_admin:password@localhost:5432/eventpulse
# For Docker Image instead of 'localhost' use 'postgres'